
services:
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: corpoagent_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - pgadmin
