
services:
  db:
    image: postgres:latest
    container_name: corpoagent_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: corpoagent
    ports:
      - "5432:5432"
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: corpoagent_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  ollama_data: